/*

    Style 2 for MangaReader WP. Current theme

    T A B L E   O F   C O N T E N T S
    ........................................................................

    01. Global Styles
    02. Archive Page
    03. Chapters Template
    04. Non-Static Homepage
    05. Mangas Template

*/



/*-----------------------------------------------*/
/*  Global Styles                                */
/*-----------------------------------------------*/
body #masthead{
	background-image:-webkit-linear-gradient(left, #293eb1 0%, #7987d7 100%);
	background-image:-o-linear-gradient(left, #293eb1 0%, #7987d7 100%);
	background-image:linear-gradient(to right, #293eb1 0%, #7987d7 100%);
}

body .navigation-top .site-title a{
	font-size:32px;
	text-shadow:rgba(0, 0, 0, 0.3) 0px 1px 1px;
	color:#f9f9f9;
	-webkit-box-shadow:none;
	box-shadow:none;
}

body #top-menu .menu-item a{
	color:#f9f9f9;
	text-shadow:rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

body #top-menu .menu-item a:hover{
	background-color:transparent;
}

body #front-slider .uk-grid h2{
	background-color:#7987d7;
}

body #front-slider .uk-grid .owl-carousel-controls{
	border-bottom-color:#7987d7;
	-webkit-transform:translatex(0px) translatey(0px);
	-ms-transform:translatex(0px) translatey(0px);
	transform:translatex(0px) translatey(0px);
}

body #front-slider .uk-grid .carousel-prev{
	background-color:#7987d7;
}

body #front-slider .uk-grid .carousel-next{
	background-color:#7987d7;
}

body .latest-chapters .page-title i{
	color:#7987d7;
}

body #main .latest-chapters h2{
	border-bottom-color:#7987d7;
}

body #sidebar .widget h3{
	border-bottom-color:#7987d7;
}

body #main a h3{
	color:#7987d7;
	white-space:pre-wrap;
	font-size:15px;
}

body #main div i{
	color:#394fca;
}

body .new-manga .uk-grid-collapse .uk-overlay-panel{
	background-color:#7987d7 !important;
}

body #page #content .wrap #primary #main #site-pagination a{
	background-color:#5366d4 !important;
}

@media (max-width:672px){

	body #site-menu label{
	background-color:transparent;
}

body #top-menu{
	background-color:transparent !important;
	}

}



@media (min-width:768px){

	body #main .uk-grid .uk-width-medium-5-10{
	width:249px;
	}

}



/*-----------------------------------------------*/
/*  Archive Page                                 */
/*-----------------------------------------------*/
body.archive #main a h3{
	color:#4e5fbf;
}

body.archive #sidebar .widget h3{
	border-bottom-color:#7987d7;
}

body.archive #main .page-header h2{
	border-bottom-color:#7987d7;
}

body.archive #main small a{
	display:none;
}

body.archive #main div .uk-icon-comment{
	display:none;
}

body.archive #main div .uk-icon-clock-o{
	display:none;
}

body.archive .uk-width-medium-5-10 .hentry .uk-margin-bottom .chapter-content div{
	border-bottom-style:none;
}

body.archive #main .uk-grid .uk-width-medium-5-10{
	border-style:solid;
	border-width:1px;
}

body.archive #main .uk-grid article{
	margin-top:35px;
	margin-right:38px;
}

@media (min-width:481px){

	body.archive #main div small{
	display:none;
	}

}



/*-----------------------------------------------*/
/*  Chapters Template                            */
/*-----------------------------------------------*/
body.single-chapters .entry-header .uk-button-group .next{
	background-color:#7987d7 !important;
}

body.single-chapters .entry-header .uk-button-group .uk-icon-angle-left{
	color:#d8d8d8 !important;
}

body.single-chapters .entry-header .next i{
	color:#d8d8d8 !important;
}

body.single-chapters .entry-header .uk-button-group .uk-icon-angle-double-right{
	color:#d8d8d8 !important;
}

body.single-chapters .entry-header .uk-button-group .uk-icon-angle-double-left{
	color:#d8d8d8 !important;
}

body.single-chapters .hentry .uk-grid .uk-alert-warning{
	background-color:rgba(234,239,255,0.93);
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	border-style:solid;
	border-color:#4293c1;
}

body.single-chapters .hentry .uk-grid h3{
	color:#545454;
}

body.single-chapters .hentry .uk-grid p{
	color:#606060;
}

body.single-chapters #masthead{
	background-image:-webkit-linear-gradient(left, #293eb1 0%, rgb(121,135,215) 100%);
	background-image:-o-linear-gradient(left, #293eb1 0%, rgb(121,135,215) 100%);
	background-image:linear-gradient(to right, #293eb1 0%, rgb(121,135,215) 100%);
}

body.single-chapters .hentry .entry-header .uk-grid .uk-width-medium-1-3 .uk-clearfix .uk-align-right .uk-button-group a{
	background-color:#3463ba !important;
}



/*-----------------------------------------------*/
/*  Non-Static Homepage                          */
/*-----------------------------------------------*/
body.home #front-slider .uk-grid .carousel-prev{
	background-color:#4b5fcc;
}

body.home #front-slider .uk-grid .carousel-next{
	background-color:#4b5fcc;
}

body.home #front-slider .uk-grid h2{
	background-color:#4e5fbf;
}

body.home #main a h3{
	color:#4e5fbf;
}

body.home .new-manga .uk-grid-collapse .uk-overlay-panel{
	background-color:#293eb1 !important;
}



/*-----------------------------------------------*/
/*  Mangas Template                              */
/*-----------------------------------------------*/
body.single-mangas .hentry .entry-header h2{
	color:#4e60ca;
}

body.single-mangas .manga-genres div a{
	background-color:#4e60ca !important;
}

body.single-mangas .hentry .uk-grid h3{
	border-bottom-color:#4e60ca;
}

body.single-mangas .manga-chapters .uk-clearfix small{
	display:none;
}

body.single-mangas .hentry .manga-chapters .uk-clearfix{
	display:inline-flex;
	position:relative;
	left:20px;
}

body.single-mangas .hentry .uk-margin-large-top .uk-clearfix{
	display:none;
}

body.single-mangas #main .uk-clearfix .nav-links{
	display:none;
}

body.single-mangas #comments{
	display:none;
}

body.single-mangas .manga-chapters .uk-clearfix .uk-float-left{
	width:97px;
	background-color:#b5b5b5;
	font-size:10px;
	text-align:center;
	border-style:solid;
	border-width:2px;
	border-color:#4e60ca;
	color:#2948f3;
	margin-right:12px;
}

body.single-mangas #page #content .wrap #primary #main .hentry .uk-grid .manga-chapters .uk-clearfix .uk-float-left a{
	text-decoration:underline !important;
}

body.single-mangas #masthead{
	background-image:-webkit-linear-gradient(left, rgb(41, 62, 177) 0%, rgb(121, 135, 215) 100%);
	background-image:-o-linear-gradient(left, rgb(41, 62, 177) 0%, rgb(121, 135, 215) 100%);
	background-image:linear-gradient(to right, rgb(41, 62, 177) 0%, rgb(121, 135, 215) 100%);
}

body.single-mangas .manga-chapters .uk-clearfix a{
	color:#263796;
	text-shadow:rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

body.single-mangas #content{
	-webkit-transform:translatex(0px) translatey(0px);
	-ms-transform:translatex(0px) translatey(0px);
	transform:translatex(0px) translatey(0px);
}
