/*


    T A B L E   O F   C O N T E N T S
    ........................................................................

    01. Global Styles
    02. Category Page
    03. Archive Page
    04. Chapters Template
    05. Non-Static Homepage
    06. Mangas Template

*/



/*-----------------------------------------------*/
/*  Global Styles                                */
/*-----------------------------------------------*/
body #top-menu .menu-item a{
	background-color:transparent;
}

body #top-menu .menu-item a:hover{
	background-color:transparent;
}

body .recentviewed_post li a:hover{
	color:#878787;
}

body .uk-grid-collapse .uk-block-muted a:hover{
	color:#757575 !important;
}

body #main a h3{
	color:#3f3fd3;
}

@media (min-width:768px){

	body #main .hentry .chapter-content{
	width:90px;
	}

}



/*-----------------------------------------------*/
/*  Category Page                                */
/*-----------------------------------------------*/
body.category #main .page-header h2{
	border-bottom-color:#284cb8;
}

body.category #main small a{
	display:none;
}

body.category #main div .uk-icon-comment{
	display:none;
}



/*-----------------------------------------------*/
/*  Archive Page                                 */
/*-----------------------------------------------*/
body.archive #sidebar .widget h3{
	border-bottom-color:#5a5ab8 !important;
}

body.archive #main small a{
	display:none;
}

body.archive #main div .uk-icon-comment{
	display:none;
}

body.archive small > span{
	display:none;
}

body.archive #main .hentry .chapter-content{
	color:#e0e0e0;
	background-image:-webkit-linear-gradient(left, rgb(63, 63, 211) 0%, rgb(52, 138, 199) 100%);
	background-image:-o-linear-gradient(left, rgb(63, 63, 211) 0%, rgb(52, 138, 199) 100%);
	background-image:linear-gradient(to right, rgb(63, 63, 211) 0%, rgb(52, 138, 199) 100%);
}

body.archive #masthead{
	background-image:-webkit-linear-gradient(left, #3f3fd3 0%, rgb(52,138,199) 100%);
	background-image:-o-linear-gradient(left, #3f3fd3 0%, rgb(52,138,199) 100%);
	background-image:linear-gradient(to right, #3f3fd3 0%, rgb(52,138,199) 100%);
}

body.archive #main .page-header h2{
	border-bottom-color:#5a5ab8;
}

body.archive #main a h3{
	color:#efefef !important;
}

body.archive .uk-width-medium-5-10 .hentry .uk-margin-bottom .chapter-content div{
	border-bottom-style:none;
}

body.archive #content{
	-webkit-transform:translatex(0px) translatey(0px);
	-ms-transform:translatex(0px) translatey(0px);
	transform:translatex(0px) translatey(0px);
}

body.archive .new-manga .uk-grid-collapse .uk-overlay-panel{
	background-color:#5a5ab8 !important;
}

body.archive .navigation-top .site-title a{
	font-size:32px;
}

body.archive #sidebar .widget .search-submit{
	background-color:#5a5ab8 !important;
}

@media (min-width:481px){

	body.archive #main div small{
	display:none;
	}

}



@media (min-width:768px){

	body.archive #main .hentry .chapter-content{
	width:244px;
	}

}



/*-----------------------------------------------*/
/*  Chapters Template                            */
/*-----------------------------------------------*/
body.single-chapters .entry-header .uk-button-group .next{
	background-color:#284cb8 !important;
}

body.single-chapters .entry-header .uk-button-group a{
	background-color:#284cb8 !important;
}

body.single-chapters .hentry .uk-grid .uk-alert-warning{
	background-color:#eafaff;
	color:#3b69ae;
	border-top-color:#91baec;
	border-right-color:#91baec;
	border-bottom-color:#91baec;
	border-left-color:#91baec;
	display:none;
}

body.single-chapters #foot-widgets{
	display:none;
}

body.single-chapters #post-nav-next{
	display:none;
}

body.single-chapters #post-nav-next-default h4{
	display:none;
}

body.single-chapters #post-nav-previous{
	display:none;
}

body.single-chapters #post-nav-previous-default h4{
	display:none;
}

body.single-chapters .active label{
	display:none !important;
}

body.single-chapters #masthead{
	background-color:transparent;
}

body.single-chapters #masthead .wrap .uk-width-large-3-10{
	display:none;
}

body.single-chapters #top-menu .menu-item a:hover{
	background-color:transparent;
}

@media (max-width:767px){

	body.single-chapters .epn_nav .epn_left a{
	font-size:16px;
}

body.single-chapters .epn_nav .epn_right a{
	font-size:16px;
}

body.single-chapters #post-nav-previous-default li{
	display:none;
}

body.single-chapters #post-nav-next-default li{
	display:none;
}

body.single-chapters #post-nav-next-default{
	margin-left:0px;
	width:31px !important;
}

body.single-chapters #post-nav-previous-default{
	width:31px !important;
	}

}



@media (max-width:630px){

	body.single-chapters #post-nav-previous-default li{
	display:none;
}

body.single-chapters #post-nav-next-default li{
	display:none;
}

body.single-chapters #post-nav-previous-default{
	width:24px !important;
	position:absolute !important;
}

body.single-chapters #post-nav-next-default{
	margin-left:0px;
	width:24px !important;
	position:absolute !important;
	}

}



/*-----------------------------------------------*/
/*  Non-Static Homepage                          */
/*-----------------------------------------------*/
body.home #main .uk-grid .uk-width-medium-5-10{
	-webkit-box-flex:0 0 auto;
	-ms-flex:0 0 auto;
	flex:0 0 auto;
}

body.home #main a .wp-post-image{
	height:125px;
	width:88px;
}

body.home #page #content .wrap #primary #main .uk-grid .uk-width-medium-5-10{
	-ms-grid-columns:auto 1fr !important;
	grid-template-columns:auto 1fr !important;
}

body.home #main a h3{
	font-size:12px;
	white-space:pre-line;
	text-align:left;
	color:#1b1b7d;
}

body.home #masthead{
	background-image:-webkit-linear-gradient(left, #3f3fd3 0%, #348ac7 100%);
	background-image:-o-linear-gradient(left, #3f3fd3 0%, #348ac7 100%);
	background-image:linear-gradient(to right, #3f3fd3 0%, #348ac7 100%);
	-webkit-transform:translatex(0px) translatey(0px);
	-ms-transform:translatex(0px) translatey(0px);
	transform:translatex(0px) translatey(0px);
}

body.home .navigation-top .site-title a{
	font-size:32px;
}

body.home #front-slider .uk-grid h2{
	background-color:#3f3fd3;
}

body.home #content{
	-webkit-transform:translatex(0px) translatey(0px);
	-ms-transform:translatex(0px) translatey(0px);
	transform:translatex(0px) translatey(0px);
}

body.home #front-slider .uk-grid .owl-carousel-controls{
	border-bottom-color:#5656cc !important;
}

body.home #main .latest-chapters h2{
	border-bottom-color:#5656cc !important;
}

body.home .latest-chapters .page-title i{
	color:#3f3fd3;
}

body.home #main div i{
	color:#1654b0;
}

body.home #sidebar .widget h3{
	border-bottom-color:#5656cc !important;
}

body.home #sidebar .widget .search-submit{
	background-color:#5959b9;
}

body.home .new-manga .uk-grid-collapse .uk-overlay-panel{
	background-color:#5959b9 !important;
}

body.home #front-slider .uk-grid .carousel-prev{
	background-color:#5959b9;
}

body.home #front-slider .uk-grid .carousel-next{
	background-color:#5959b9;
}

body.home .recentviewed_post li a{
	color:#101046;
}

body.home .uk-grid-collapse .uk-width-xlarge-8-10 .uk-block-muted .uk-vertical-align-middle a{
	color:#101046 !important;
}

body.home #sidebar .widget .custom-html-widget{
	color:#06061d;
}

@media (min-width:768px){

	body.home #main .hentry .chapter-thumb{
	width:98px;
}

body.home #main .uk-grid .uk-width-medium-5-10{
	width:250px;
	}

}



/*-----------------------------------------------*/
/*  Mangas Template                              */
/*-----------------------------------------------*/
body.single-mangas .hentry .uk-margin-large-top .uk-clearfix{
	display:none;
}

body.single-mangas #foot-widgets{
	display:none;
}

body.single-mangas .hentry .uk-grid h3{
	border-bottom-color:#284cb8;
}

body.single-mangas .hentry .entry-header h2{
	color:#348ac7;
}

body.single-mangas .manga-chapters .uk-clearfix .uk-float-right a{
	display:none;
}

body.single-mangas #respond{
	display:none;
}

body.single-mangas .hentry .uk-grid img{
	border-top-left-radius:18px !important;
	border-top-right-radius:18px !important;
	border-bottom-left-radius:18px !important;
	border-bottom-right-radius:18px !important;
}

body.single-mangas .manga-chapters .uk-clearfix small{
	display:none;
}

body.single-mangas .hentry .manga-chapters .uk-clearfix{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	color:#c9c9c9;
	-webkit-box-shadow:none;
	box-shadow:none;
	border-bottom-right-radius:5px;
	display:inline-grid;
	width:119px;
	margin-right:51px;
}

body.single-mangas .manga-chapters .uk-clearfix .uk-float-right{
	padding-left:11px;
}

body.single-mangas .manga-chapters .uk-clearfix a{
	font-size:15px !important;
	text-shadow:rgba(0, 0, 0, 0.3) 0px 1px 1px;
	border-width:2px;
	text-transform:uppercase;
	background-color:transparent;
	-webkit-box-shadow:none;
	box-shadow:none;
	color:#1b1b7d;
}

body.single-mangas .manga-chapters .uk-clearfix .uk-float-left{
	color:#262626;
	border-style:solid;
	text-align:center;
	border-color:#284cb8;
}

body.single-mangas #main .uk-clearfix .nav-links{
	display:none;
}

body.single-mangas #masthead{
	-webkit-transform:translatex(0px) translatey(0px);
	-ms-transform:translatex(0px) translatey(0px);
	transform:translatex(0px) translatey(0px);
	background-color:transparent;
	background-image:-webkit-linear-gradient(left, #3f3fd3 0%, #348ac7 100%);
	background-image:-o-linear-gradient(left, #3f3fd3 0%, #348ac7 100%);
	background-image:linear-gradient(to right, #3f3fd3 0%, #348ac7 100%);
}

body.single-mangas .manga-genres div a{
	background-color:#3472df !important;
}

body.single-mangas #content{
	-webkit-transform:translatex(0px) translatey(0px);
	-ms-transform:translatex(0px) translatey(0px);
	transform:translatex(0px) translatey(0px);
}

body.single-mangas .uk-grid-collapse .site-title a{
	font-size:32px;
}

body.single-mangas .manga-chapters .uk-clearfix a:hover{
	color:#7c7c7c;
}
