/*

	Style 2 Fixed theme	

    T A B L E   O F   C O N T E N T S
    ........................................................................

    01. Global Styles
    02. Archive Page
    03. Chapters Template
    04. Mangas Template

*/



/*-----------------------------------------------*/
/*  Global Styles                                */
/*-----------------------------------------------*/
body #main a h3{
	white-space:pre-wrap;
	color:#c0392b;
}

body .navigation-top .site-title a{
	font-size:32px;
}

body #masthead{
	background-image:-webkit-linear-gradient(left, #c0392b 0%, #8e44ad 100%);
	background-image:-o-linear-gradient(left, #c0392b 0%, #8e44ad 100%);
	background-image:linear-gradient(to right, #c0392b 0%, #8e44ad 100%);
}

body #front-slider .uk-grid .owl-carousel-controls{
	border-bottom-color:#c0392b;
}

body #front-slider .uk-grid .carousel-prev{
	background-color:#8e44ad;
}

body #front-slider .uk-grid .carousel-next{
	background-color:#8e44ad;
}

body #front-slider .uk-grid h2{
	background-image:-webkit-linear-gradient(left, #c0392b 0%, #8e44ad 100%);
	background-image:-o-linear-gradient(left, #c0392b 0%, #8e44ad 100%);
	background-image:linear-gradient(to right, #c0392b 0%, #8e44ad 100%);
}

body #main .latest-chapters h2{
	background-image:-webkit-linear-gradient(left, #c0392b 0%, #8e44ad 100%);
	background-image:-o-linear-gradient(left, #c0392b 0%, #8e44ad 100%);
	background-image:linear-gradient(to right, #c0392b 0%, #8e44ad 100%);
	color:#ffffff;
	border-bottom-color:#c0392b;
	border-bottom-style:none;
}

body #sidebar .widget h3{
	background-image:-webkit-linear-gradient(left, #c0392b 0%, #8e44ad 100%);
	background-image:-o-linear-gradient(left, #c0392b 0%, #8e44ad 100%);
	background-image:linear-gradient(to right, #c0392b 0%, #8e44ad 100%);
	color:#ffffff;
	border-bottom-style:none;
	margin-left:0px;
	padding-left:13px;
}

body .latest-chapters .page-title i{
	color:#ffffff;
}

body #main div i{
	color:#8e44ad;
}

body .new-manga .uk-grid-collapse .uk-overlay-panel{
	background-color:#c0392b !important;
}

body #site-pagination a{
	background-color:#c0392b !important;
}

body #top-menu .menu-item a:hover{
	background-color:transparent;
}

body .uk-grid-collapse .uk-block-muted a:hover{
	color:#6d6d6d !important;
}

body .entry-header .uk-button-group .next{
	background-color:#c0392b !important;
}

body .entry-header .uk-button-group a{
	background-color:#c0392b !important;
}

body .entry-header .next i{
	color:#ffffff !important;
}

body .entry-header .uk-button-group .uk-icon-angle-double-right{
	color:#ffffff !important;
}

body .entry-header .uk-button-group .uk-icon-angle-left{
	color:#b5b5b5 !important;
}

body .entry-header .uk-button-group .uk-icon-angle-double-left{
	color:#bcbcbc !important;
}

body .hentry .uk-grid .uk-alert-warning{
	background-color:#8e44ad !important;
	border-style:none;
}

body .hentry .uk-grid p{
	color:#d3d3d3 !important;
}

@media (max-width:672px){

	body #top-menu .menu-item a{
	background-color:transparent;
	}

}



@media (min-width:768px){

	body #page #content .wrap #primary #main .uk-grid .uk-width-medium-5-10{
	width:33% !important;
	}

}



/*-----------------------------------------------*/
/*  Archive Page                                 */
/*-----------------------------------------------*/
body.archive #sidebar .widget h3{
	background-image:-webkit-linear-gradient(left, rgb(192, 57, 43) 0%, rgb(142, 68, 173) 100%);
	background-image:-o-linear-gradient(left, rgb(192, 57, 43) 0%, rgb(142, 68, 173) 100%);
	background-image:linear-gradient(to right, rgb(192, 57, 43) 0%, rgb(142, 68, 173) 100%);
	padding-left:13px;
}

body.archive #main .page-header h2{
	border-bottom-style:none;
	background-image:-webkit-linear-gradient(left, rgb(192, 57, 43) 0%, rgb(142, 68, 173) 100%);
	background-image:-o-linear-gradient(left, rgb(192, 57, 43) 0%, rgb(142, 68, 173) 100%);
	background-image:linear-gradient(to right, rgb(192, 57, 43) 0%, rgb(142, 68, 173) 100%);
	color:#ffffff;
	padding-left:13px;
}

body.archive #main small a{
	display:none;
}

body.archive #main div .uk-icon-comment{
	display:none;
}

body.archive .uk-width-medium-5-10 .hentry .uk-margin-bottom .chapter-content div{
	border-style:none;
}

@media (min-width:481px){

	body.archive #main div small{
	display:none;
	}

}



/*-----------------------------------------------*/
/*  Chapters Template                            */
/*-----------------------------------------------*/
@media (max-width:630px){

	body.single-chapters #top-menu .menu-item a{
	height:56px;
	background-color:#1c1c1c !important;
	}

}



/*-----------------------------------------------*/
/*  Mangas Template                              */
/*-----------------------------------------------*/
body.single-mangas #masthead{
	background-image:-webkit-linear-gradient(left, #c0392b 0%, #8e44ad 100%);
	background-image:-o-linear-gradient(left, #c0392b 0%, #8e44ad 100%);
	background-image:linear-gradient(to right, #c0392b 0%, #8e44ad 100%);
}

body.single-mangas .manga-genres div a{
	background-color:#9954b9 !important;
}

body.single-mangas .hentry .entry-header h2{
	background-color:transparent;
	color:#c0392b;
}

body.single-mangas .hentry .uk-grid h3{
	border-bottom-color:#ff8000;
	border-bottom-style:none;
	background-image:-webkit-linear-gradient(left, #c0392b 0%, #8e44ad 100%);
	background-image:-o-linear-gradient(left, #c0392b 0%, #8e44ad 100%);
	background-image:linear-gradient(to right, #c0392b 0%, #8e44ad 100%);
	color:#ffffff;
	padding-left:12px;
}

body.single-mangas .manga-chapters .uk-clearfix small{
	display:none;
}

body.single-mangas .hentry .manga-chapters .uk-clearfix{
	display:inline-grid;
}

body.single-mangas .manga-chapters .uk-clearfix .uk-float-left{
	width:511px;
}

body.single-mangas .hentry .uk-margin-large-top .uk-clearfix{
	display:none;
}

body.single-mangas #main .uk-clearfix .nav-links{
	display:none;
}

body.single-mangas #respond{
	display:none;
}

body.single-mangas .manga-chapters .uk-clearfix a{
	padding-right:48px;
	font-size:21px !important;
	border-style:solid;
	border-width:2px;
}

body.single-mangas .manga-chapters .uk-clearfix a:hover{
	color:#5b5b5b;
	border-style:solid;
}

body.single-mangas .hentry .manga-alt-names p{
	color:#c0392b !important;
}

body.single-mangas .hentry .manga-authors p{
	color:#c0392b !important;
}

body.single-mangas .hentry .manga-genres p{
	color:#c0392b !important;
}

body.single-mangas .hentry .manga-artists p{
	color:#c0392b !important;
}

body.single-mangas .hentry .manga-year p{
	color:#c0392b !important;
}

body.single-mangas .hentry .manga-status p{
	color:#c0392b !important;
}

body.single-mangas .hentry .manga-description p{
	color:#c0392b !important;
}
