/*

    Similar to the original Style.CSS but with a different latest chapters style + some color changes


    T A B L E   O F   C O N T E N T S
    ........................................................................

    01. Global Styles
    02. Category Page
    03. Archive Page
    04. Chapters Template
    05. Non-Static Homepage
    06. Mangas Template

*/



/*-----------------------------------------------*/
/*  Global Styles                                */
/*-----------------------------------------------*/
body .navigation-top .site-title a{
	font-size:32px;
}

body #masthead{
	background-image:-webkit-linear-gradient(left, #3f3fd3 0%, rgb(52,138,199) 100%);
	background-image:-o-linear-gradient(left, #3f3fd3 0%, rgb(52,138,199) 100%);
	background-image:linear-gradient(to right, #3f3fd3 0%, rgb(52,138,199) 100%);
	background-color:transparent;
}

body .latest-chapters .page-title i{
	color:#7474bf;
}

body #main a h3{
	text-shadow:none;
	color:#f2f2f2;
}

body .new-manga .uk-grid-collapse .uk-overlay-panel{
	background-color:#348ac7 !important;
}

body #top-menu .menu-item a:hover{
	background-color:transparent;
}

body .uk-width-medium-5-10 .hentry .uk-margin-bottom .chapter-content div{
	border-bottom-style:none;
}

body #sidebar .widget .search-submit{
	background-color:#6471c8;
}

body #main .hentry .chapter-content{
	background-image:-webkit-linear-gradient(left, rgb(116, 116, 191) 0%, rgb(52, 138, 199) 100%);
	background-image:-o-linear-gradient(left, rgb(116, 116, 191) 0%, rgb(52, 138, 199) 100%);
	background-image:linear-gradient(to right, rgb(116, 116, 191) 0%, rgb(52, 138, 199) 100%);
	border-width:2px;
}

body #main div small{
	color:#e2e2e2;
}

body #main div i{
	color:#b2b2b2;
}

body .recentviewed_post li a:hover{
	color:#727272;
}

body #content{
	-webkit-transform:translatex(0px) translatey(0px);
	-ms-transform:translatex(0px) translatey(0px);
	transform:translatex(0px) translatey(0px);
}

body #main .latest-chapters h2{
	border-bottom-color:#5a5ab8 !important;
}

body #sidebar .widget h3{
	border-bottom-color:#5a5ab8 !important;
}

@media (max-width:672px){

	body #site-menu label{
	background-color:transparent;
}

body #top-menu li{
	-webkit-transform:translatex(0px) translatey(0px);
	-ms-transform:translatex(0px) translatey(0px);
	transform:translatex(0px) translatey(0px);
}

body #top-menu{
	background-color:transparent !important;
	}

}



/*-----------------------------------------------*/
/*  Category Page                                */
/*-----------------------------------------------*/
body.category #main .page-header h2{
	border-bottom-color:#284cb8;
}

body.category #main small a{
	display:none;
}

body.category #main div .uk-icon-comment{
	display:none;
}



/*-----------------------------------------------*/
/*  Archive Page                                 */
/*-----------------------------------------------*/
body.archive #sidebar .widget h3{
	border-bottom-color:#3f3fd3;
}

body.archive #main small a{
	display:none;
}

body.archive #main div .uk-icon-comment{
	display:none;
}

body.archive small > span{
	display:none;
}

body.archive #main .hentry .chapter-content{
	color:#e0e0e0;
	background-image:-webkit-linear-gradient(left, rgb(63, 63, 211) 0%, rgb(52, 138, 199) 100%);
	background-image:-o-linear-gradient(left, rgb(63, 63, 211) 0%, rgb(52, 138, 199) 100%);
	background-image:linear-gradient(to right, rgb(63, 63, 211) 0%, rgb(52, 138, 199) 100%);
}

body.archive #masthead{
	background-image:-webkit-linear-gradient(left, #3f3fd3 0%, rgb(52,138,199) 100%);
	background-image:-o-linear-gradient(left, #3f3fd3 0%, rgb(52,138,199) 100%);
	background-image:linear-gradient(to right, #3f3fd3 0%, rgb(52,138,199) 100%);
}

body.archive #main .page-header h2{
	border-bottom-color:#5a5ab8;
}

@media (min-width:481px){

	body.archive #main div small{
	display:none;
	}

}



/*-----------------------------------------------*/
/*  Chapters Template                            */
/*-----------------------------------------------*/
body.single-chapters .entry-header .uk-button-group .next{
	background-color:#284cb8 !important;
}

body.single-chapters .entry-header .uk-button-group a{
	background-color:#284cb8 !important;
}

body.single-chapters .hentry .uk-grid .uk-alert-warning{
	background-color:#eafaff;
	color:#3b69ae;
	border-top-color:#91baec;
	border-right-color:#91baec;
	border-bottom-color:#91baec;
	border-left-color:#91baec;
	display:none;
}

body.single-chapters #foot-widgets{
	display:none;
}

body.single-chapters #post-nav-next{
	display:none;
}

body.single-chapters #post-nav-next-default h4{
	display:none;
}

body.single-chapters #post-nav-previous{
	display:none;
}

body.single-chapters #post-nav-previous-default h4{
	display:none;
}

body.single-chapters .active label{
	display:none !important;
}

@media (max-width:767px){

	body.single-chapters .epn_nav .epn_left a{
	font-size:16px;
}

body.single-chapters .epn_nav .epn_right a{
	font-size:16px;
}

body.single-chapters #post-nav-previous-default li{
	display:none;
}

body.single-chapters #post-nav-next-default li{
	display:none;
}

body.single-chapters #post-nav-next-default{
	margin-left:0px;
	width:31px !important;
}

body.single-chapters #post-nav-previous-default{
	width:31px !important;
	}

}



@media (max-width:630px){

	body.single-chapters #post-nav-previous-default li{
	display:none;
}

body.single-chapters #post-nav-next-default li{
	display:none;
}

body.single-chapters #post-nav-previous-default{
	width:24px !important;
	position:absolute !important;
}

body.single-chapters #post-nav-next-default{
	margin-left:0px;
	width:24px !important;
	position:absolute !important;
	}

}



/*-----------------------------------------------*/
/*  Non-Static Homepage                          */
/*-----------------------------------------------*/
body.home #main a h3{
	font-size:14px;
}

body.home #main .hentry .chapter-content{
	background-image:-webkit-linear-gradient(left, #3f3fd3 0%, rgb(52,138,199) 100%);
	background-image:-o-linear-gradient(left, #3f3fd3 0%, rgb(52,138,199) 100%);
	background-image:linear-gradient(to right, #3f3fd3 0%, rgb(52,138,199) 100%);
}

body.home #main .latest-chapters h2{
	border-bottom-color:#3f3fd3;
}

body.home #sidebar .widget h3{
	border-bottom-color:#3f3fd3;
}

@media (min-width:768px){

	body.home #page #content .wrap #primary #main .uk-grid .uk-width-medium-5-10{
	width:33% !important;
	}

}



/*-----------------------------------------------*/
/*  Mangas Template                              */
/*-----------------------------------------------*/
body.single-mangas .hentry .uk-margin-large-top .uk-clearfix{
	display:none;
}

body.single-mangas #foot-widgets{
	display:none;
}

body.single-mangas .hentry .uk-grid h3{
	border-bottom-color:#284cb8;
}

body.single-mangas .hentry .entry-header h2{
	color:#348ac7;
}

body.single-mangas .manga-chapters .uk-clearfix .uk-float-right a{
	display:none;
}

body.single-mangas #respond{
	display:none;
}

body.single-mangas .hentry .uk-grid img{
	border-top-left-radius:18px !important;
	border-top-right-radius:18px !important;
	border-bottom-left-radius:18px !important;
	border-bottom-right-radius:18px !important;
}

body.single-mangas .manga-chapters .uk-clearfix small{
	display:none;
}

body.single-mangas .hentry .manga-chapters .uk-clearfix{
	display:inline-block;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	color:#c9c9c9;
	-webkit-box-shadow:none;
	box-shadow:none;
	border-bottom-right-radius:5px;
}

body.single-mangas .manga-chapters .uk-clearfix .uk-float-left a{
	color:#ffffff;
	text-shadow:rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

body.single-mangas .manga-chapters .uk-clearfix .uk-float-right{
	padding-left:11px;
}

body.single-mangas .manga-chapters .uk-clearfix a{
	font-size:19px !important;
	margin-right:7px;
	background-image:-webkit-linear-gradient(left, rgb(63, 63, 211) 0%, rgb(52, 138, 199) 100%);
	background-image:-o-linear-gradient(left, rgb(63, 63, 211) 0%, rgb(52, 138, 199) 100%);
	background-image:linear-gradient(to right, rgb(63, 63, 211) 0%, rgb(52, 138, 199) 100%);
}

body.single-mangas .manga-chapters .uk-clearfix .uk-float-left{
	margin-right:2px;
	color:#262626;
}

body.single-mangas #main .uk-clearfix .nav-links{
	display:none;
}

body.single-mangas #masthead{
	-webkit-transform:translatex(0px) translatey(0px);
	-ms-transform:translatex(0px) translatey(0px);
	transform:translatex(0px) translatey(0px);
}

body.single-mangas .manga-genres div a{
	background-color:#3472df !important;
}



/*-----------------------------------------------*/
/*  ""                                           */
/*-----------------------------------------------*/
body.postid-58 .manga-chapters .uk-clearfix .uk-float-left{
	border-bottom-width:3px;
}



/*-----------------------------------------------*/
/*  ""                                           */
/*-----------------------------------------------*/
body.postid-74 .uk-grid-small button{
	background-color:#2858b8;
}

body.postid-74 #sidebar .widget .search-submit{
	background-color:#2858b8;
}

body.postid-74 .categories ul li{
	text-transform:uppercase;
	display:inline;
	-webkit-column-count:3;
	column-count:3;
	list-style-type:circle;
	border-right-style:solid;
}

body.postid-74 #page #content .wrap #primary #main .hentry .entry-content .categories ul li{
	-ms-grid-columns:auto 1fr !important;
	grid-template-columns:auto 1fr !important;
}

body.postid-74 .categories ul a{
	padding-left:5px;
}

body.postid-74 .items-outer .letter-section div a{
	display:none;
}
